<access>
  <page id="1126" loginPage="1146" noRightsPage="1146" simple="False">
    <group id="Active" />
  </page>
  <page id="1128" loginPage="1146" noRightsPage="1146" simple="False">
    <group id="Active" />
  </page>
  <page id="1129" loginPage="1146" noRightsPage="1146" simple="False">
    <group id="Active" />
  </page>
</access>