<%@ Master Language="C#" MasterPageFile="~/masterpages/Heading-Template.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderID="Content" runat="server">	

<section class="container pageContent">

</section>
</asp:Content>