<%@ Master Language="C#" MasterPageFile="~/masterpages/Heading-Template.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderID="Content" runat="server">	

<section class="container pageContent">
	<div class="nine columns">
		<h3><umbraco:Item field="articleSummary" runat="server" /></h3>
		<p><umbraco:Item field="contentLeftPanel" runat="server" /></p>
		<umbraco:Macro Alias="afdslConfirmEmail" runat="server"></umbraco:Macro>
	</div>
</section>
</asp:Content>